<p-dialog
  [(visible)]="visible"
  [header]="header"
  [style]="{width: width}"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHide()"
  styleClass="confirmation-modal"
  [closeOnEscape]="true"
  [dismissableMask]="true">

  <div class="confirmation-content p-3">
    <i class="pi pi-exclamation-triangle mr-3 text-yellow-500 text-2xl"></i>
    <span>{{ message }}</span>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <p-button
        [label]="cancelLabel"
        [icon]="cancelIcon"
        (onClick)="onCancel()"
        styleClass="p-button-text">
      </p-button>
      <p-button
        [label]="confirmLabel"
        [icon]="confirmIcon"
        (onClick)="onConfirm()"
        [styleClass]="confirmClass">
      </p-button>
    </div>
  </ng-template>
</p-dialog>
