<div class="surface-card p-4 shadow-2 border-round">
  <div class="flex w-full items-center mb-3">
    <h1 class="text-gray-900 text-2xl font-medium m-0">{{title}}</h1>
    <div class="flex-1"></div>
    <p-button label="Nuevo" icon="pi pi-plus" (click)="onAdd()"
              styleClass="p-button-success"></p-button>
  </div>

  <p-table
    #dt
    [value]="items"
    [loading]="loading"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5,10,25,50]"
    [globalFilterFields]="globalFilterFields"
    [styleClass]="tableClass"
    responsiveLayout="scroll">

    <ng-template pTemplate="caption">
      <div class="flex justify-content-between align-items-center">
        <div>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Buscar..."
                   (input)="onGlobalFilter($event)" />
          </span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [ngClass]="{'text-right': col.type === 'number' || col.type === 'decimal' || col.type === 'currency'}">
          {{col.header}}
        </th>
        <th style="width:120px">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of cols" [ngClass]="getCellClass(rowData[col.field], col)">
          <span *ngIf="col.type === 'boolean'" [ngClass]="rowData[col.field] ? (col.format?.trueClass || 'text-green-500') : (col.format?.falseClass || 'text-red-500')">
            {{formatCellValue(rowData[col.field], col)}}
          </span>
          <span *ngIf="col.type !== 'boolean'">
            {{formatCellValue(rowData[col.field], col)}}
          </span>
        </td>
        <td>
          <div class="flex gap-2">
            <ng-container *ngIf="actionTemplate; else defaultActions">
              <ng-container *ngTemplateOutlet="actionTemplate; context: {$implicit: rowData}"></ng-container>
            </ng-container>
            <ng-template #defaultActions>
              <p-button icon="pi pi-pencil" severity="info" size="small"
                        (click)="onEdit(rowData)"></p-button>
              <p-button icon="pi pi-trash" severity="danger" size="small"
                        (click)="onDeleteClick(rowData)"></p-button>
            </ng-template>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="cols.length + 1" class="text-center p-4">
          No se encontraron registros.
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Form Modal Component -->
  <app-form-modal
    [(visible)]="showFormModal"
    [header]="getFormHeader()"
    [item]="selectedItem"
    [formTemplate]="formTemplate"
    [formIsValid]="form?.valid || false"
    (save)="onSave()"
    (cancel)="onCancel()">
  </app-form-modal>
