// app-layout.component.scss
:host {
  display: block;
  height: 100vh;
  width: 100%;
}

.app-layout {
  display: flex;
  height: 100%;

  &.sidebar-collapsed {
    .sidebar {
      width: 64px;

      // Cualquier otro estilo que necesites cambiar cuando el sidebar está colapsado
    }

    .main-content {
      margin-left: 64px;
    }
  }
}

.sidebar {
  position: fixed;
  height: 100%;
  z-index: 100;
  width: 260px; // Asegúrate de definir el ancho aquí
  transition: width 0.3s ease; // Añade transición para animar el cambio
}

.main-content {
  flex: 1;
  margin-left: 260px;
  transition: margin-left 0.3s ease;
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  min-height: 100%; // Asegura que ocupe toda la altura
}

.page-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

.footer {
  // Estilos para el footer
  width: 100%;
}
